<div class="p-3 flex flex-row bg-green-200 shadow-xl shadow-green-200 mb-10">
  <div class="me-5">
    <h1 class="text-2xl font-bold">Weather app</h1>
  </div>
  <div class="min-h-full flex md:w-[10%]">
    <button class="w-full p-2 bg-green-400 rounded-md me-2 transition-all" routerLink="/main" routerLinkActive="bg-green-600 font-bold" >Init</button>
  </div>
  <div class="min-h-full flex md:w-[10%]">
    <button class="w-full p-2 bg-green-400 rounded-md transition-all" routerLink="/advanced" routerLinkActive="bg-green-600 font-bold">Advanced details</button>
  </div>
</div>
